/* colors */
$pink: #ed679b;
$yellow: #fcdd6d;
$green: #aacf52;
$deep-yellow: #f5ca35;
$blue: #6790ed;
$light-pink: #f6b3cd;
$active-pink: #ed3e82;
$active-yellow: #f2b36f;
$nav-grey: #a9a9a9;
$background-grey: #f7f7f7;
$border-grey: #d4d4d4;
$font-grey: #949494;
$font-black: #454545;

/* fonts */
$font-size-34: 4.266667vw;
$font-size-30: 4vw;
$font-size-26: 3.46666667vw;
$font-size-22: 2.933333333vw;

/* layout */
// 元素内间距
$inner-margin: 2.6666667vw;
$double-inner-margin: 5.3333333vw;
$outer-margin: 4vw;
$double-outer-margin: 8vw;

//iPhone 6尺寸作为设计稿基准 自适应，将px转为vw
$vm_base: 375; 
@function vw($px) {
    @return ($px / $vm_base) * 100vw;
}
